<!DOCTYPE html>
<html ng-app='myApp'>
<body>

<div ng-controller="FirstCtrl">
	<input type="text" ng-model='data.message'>
	<h1>{{data.message}}</h1>
</div>
<div ng-controller="SecondCtrl">
	<input type="text" ng-model='data.message'>
	<h1>{{data.message}}</h1>
	<h2>{{reversedMessage()}}</h2>
</div>
    <script type="text/javascript" src="js/angular-1.3.0.js"></script>
    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/sharingDataBetweenControllers.js"></script>
</body>

</html>